.adress {

  &__post {
    display: block;
  }

  &__main {
    display: block;
  }

  &__sub {
    display: block;
  }

  &__tel {
    display: block;
    margin-top: 1rem;
  }

  &__mail {
    display: block;
  }
}